<div class="container" ng-cloak="">
                <md-button ng-click="vm.loginModal()">
                    Login
                </md-button>

        <div ng-repeat="items in vm.shelf">
            <p>{{items.description}}</p>
            <p>{{items.image_url}}</p>
            </div>
<div class="container">
    <div ng-repeat="shelfItem in vm.shelf.list">
        <p>{{shelfItem.username}}</p>
        <div ng-repeat="item in shelfItem.items">
            <p>{{item.description}}</p>
            <p>{{item.image_url}}</p>

        </div>
    </div>
</div>
</div>
