<div class="container" ng-cloak="">
        <md-content layout="column">
                <md-button ng-click="vm.moreInfo(1)">
                    Open Dialog
                </md-button>

    <div>

        <div ng-repeat="items in vm.shelf">
            <p>{{items.description}}</p><input type="text" ng-model="vm.newItem.description" ng-if="vm.userObject" placeholder="Description Here">
            <p>{{items.image_url}}</p><input type="text" ng-model="vm.newItem.image_url" ng-if="vm.userObject" placeholder="Image URL Here">
            <button ng-if="vm.userObject" ng-click="vm.addItem()">Add Item</button>
        </div>
    </div>
</div>
