
    <md-dialog>
            <md-content>
                    <button class="fa fa-times-circle" ng-click="vm.hideModal()"></button>
                            <h1 class="lead">Login</h1>
                              <h1 class="lead alert alert-danger" role="alert" ng-if="vm.message != ''">{{vm.message}}</h2>
                                <div>
                                    <label for="username">Username:</label>
                                    <input type="text" ng-model="vm.user.username" />
                                </div>
                                <div>
                                    <label for="password">Password:</label>
                                    <input type="password" ng-model="vm.user.password" />
                                </div>
                                <div>
                                  <button class="btn btn-default" ng-click="vm.login(vm.user)" name="submit" value="Log In">Login</button>
                                    <a href="#!register" ng-click="vm.hideModal()">Register</a>
                                </div>
                             
                    </md-content>
        </md-dialog>